.homepage{
    min-height: 100vh;

    /* need a solid bg to hide the footer */
    background: white;
  
    /* put on top */
    position: relative;
    z-index: 1;
  
    font: 16px/1.4 system-ui, sans-serif;
    
}