
.faqs{
    padding: 25px 0px;
    padding-bottom: 50px;
}
.accordion {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
   font-weight: 700 !important;
  }
  
  .accordion-title:hover {
    
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  .plusminus{
    border: 1px solid #CA9E72;
    border-radius: 50%;
    margin: 0;
    width: 20px;
    color: #CA9E72;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20px;
    text-align: center;
      
  }
  .accordionHr{
      border: 1px solid #E6E6E6;
      margin: 0;
      width: 100%;
  }
  #minus {
    margin: 0;
    width: 100%;
    background-color: #CA9E72;
    border-radius: 50%;
    color: white;
    height: 20px;
    width: 20px;
    align-items: unset;
    display: flex;
    justify-content: center;
    align-items: end;
}
    #plus{
    
    margin: 0;
}
  .accordion-content {
    
  }
  @media (max-width:767px){
    
    .faqs{
    padding-bottom: 50px;
  }
}