.singlespa .single-gallery{
    
    display: flex;
justify-content: center;
align-items: center;
padding: 50px 0px;
}
.singlespa .cp-textfield p{
    width: 70%;
}
#fitness {
    margin-left: 150px;
}
#spa-sauna{
    flex-direction: row-reverse;
   
    
}
#spa-sauna .cp-textfield p{
    margin-left: 30%;
}
#fitness p {
    width: 75%;
}
@media (max-width:767px){
    #fitness p {
        width: 100%;
    }
    .singlespa .single-gallery{
    
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
        flex-direction: column;
}
#fitness {
    margin-left: 0;
}
.singlespa .cp-textfield p{
    width: 100%;
}
.custom-pages{
    /* margin-top: 50px; */
}
#spa-sauna{
    flex-direction: column;
   
    
}
#spa-sauna .cp-textfield p{
    margin-left: 0;
    width: 100%;
}
}