#greathall{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

#weddingid .cp-bottom-p{
    text-align: left;
    width: 100%;
    padding: 0;
}
#weddingid .single-gallery{
    padding: 50px 0px;
}
#weddingid .cp-images{
    padding-top: 50px !important;
}
#weddingid .img-top{
    margin: 0;
}
@media (min-width:998px){
#weddingid .img-right-padd {
    padding-right: 102px;
    padding-top: 100px;
}
#conf-img-top{
    margin-top: -150px;
}
}
#weddTitleMain{
    margin-top: 100px;
}
@media(max-width:767px){
    #weddTitleMain{
        margin-top: 25px;
    }
    #weddingid .single-gallery{
        padding: 0px;
    }
    #weddingid .cp-bottom-p{
        text-align: center;
    }
}