.fifthImgs{
    display: flex;
        justify-content: space-between;
        padding: 25px 0;
}
.fifthImgs img{
    width: 90%;
}

.fifthImgs img{
    height: 600px;
    object-fit: cover;
}
.fifthSection h2  {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 10px;
}
.fifthSection p  {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400 !important;
}
.fifthSingleImg {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
  
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .fifthSingleImg:hover .image {
    opacity: 0.7;
    -webkit-filter: brightness(40%);
    filter: brightness(40%);  
    background-color: rgba(28, 28, 28, 0.8);
}
   
  
  .fifthSingleImg:hover .middle {
    opacity: 1;
    
  }
  
  .middletext {
    color: white;
    font-size: 34px;
    font-weight: 300;
    padding: 16px 32px;
  }
@media(min-width:768px) and (max-width:998px){
    .fifthImgs{
        flex-direction: column;
    }
    .fifthImgs img {
        width: 80%;
        height: 300px !important;
        margin: 20px auto;
    }
}


@media(max-width:767px){
    .fifthSection h2 {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin: 10px;
    }
    .fifthSingleImg{
        width: 100% !important;
    }
    .fifthSingleImg img{
        width: 100% !important;
    }
    .fifthSection p {
        text-align: center;
        width: auto;
        margin: 0 auto;
        font-size: 16px;
        padding: 10px;
    }
    .fifthImgs {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        flex-direction: column;
    }
    .fifthImgs img {
        width: auto;
        height: 200px;
        margin: 10px 0px;
        object-fit: cover;
    }
}