.fifthImgs{
    display: flex;
        justify-content: space-between;
        padding: 25px 0;
}
.fifthImgs img{
    width: 24%;
}
.fifthImgs img{
    height: 600px;
    object-fit: cover;
}
.fifthSection h2  {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 10px;
}
.fifthSection p  {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400 !important;
}

@media(min-width:768px) and (max-width:998px){
    .fifthImgs{
        flex-direction: column;
    }
    .fifthImgs img {
        width: 80%;
        height: 300px !important;
        margin: 20px auto;
    }
}


@media(max-width:767px){
    .fifthSection h2 {
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin: 10px;
    }
    .fifthSection p {
        text-align: center;
        width: auto;
        margin: 0 auto;
        font-size: 16px;
        padding: 10px;
    }
    .fifthImgs {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        flex-direction: column;
    }
    .fifthImgs img {
        width: auto;
        height: 200px;
        margin: 10px 0px;
        object-fit: cover;
    }
}