.aboutBanner {
  padding-top: 150px;
  background-image: url("../../../../images/aboutBanner.png");
  background-size: cover;
  background-position-x: 40%;
  height: 300px;
}
.about-buttons {
  display: flex;
  justify-content: space-between;
}

.about-button {
  width: 200px;
  font-size: 22px;
  color: #c8c8c8;
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
.about-button:hover {
  color: #000000;
}
#about-active {
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #c38f5b;
}
.tabName {
  margin: 13px 0;
}
.bannerH {
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
}
.bannerP {
  color: #ffffff;
  padding-right: 45%;
  font-weight: 350;
}
.aboutTab {
  padding: 50px 0;
  text-align: center;
}
.aboutTab h2 {
  font-size: 38px;
  font-weight: 400;
}
.aboutTab p {
  padding: 0 20%;
}
.aboutTab img {
  width: 100%;
  padding-top: 50px;
}

.mapDiv {
  padding-top: 50px;
  width: 100% !important;
}

@media (max-width: 767px) {
  .aboutBanner {
    padding: 50px 0px;
  }
  .bannerH {
    margin-bottom: 0px;
  }
  #about-active {
    font-weight: 600;
  }
  .tabName {
    font-size: 16px;
    margin: 13px 0;
  }
  .bannerH {
    color: #ffffff;
    font-size: 50px;
    font-weight: 400;
  }
  .bannerP {
    color: #ffffff;
    padding-right: 0;
    font-weight: 350;
  }
  .aboutTab {
    padding: 20px 0;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .aboutTab h2 {
    font-size: 38px;
    font-weight: 400;
  }
  .aboutTab p {
    padding: 0;
  }
  .aboutTab img {
    width: 100%;
    padding-top: 20px;
    margin: 0;
  }
}
