.images-grid {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0px 40px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background-image: url("../../../../images/portrait.jpg");
  /* width: auto; */
  /* height: auto; */
  background-size: cover;
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
  background-image: url("../../../../images/landscape.jpg");
  width: auto;
  height: 200px;
  background-size: cover;
}

.div3 {
  grid-area: 2 / 3 / 3 / 4;
  background-image: url("../../../../images/landone.jpg");
  width: auto;
  height: 200px;
  background-size: cover;
}
.div4 {
  grid-area: 1 / 2 / 2 / 4;
  background-image: url("../../../../images/landtwo.jpg");
  width: auto;
  height: 400px;
  background-size: cover;
} 
@media (max-width: 767px) {
  .images-grid {
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
    padding: 0 10px;
  }
  .div1,
  .div2,
  .div3,
  .div4 {
    width: auto;
    height: 200px;
    background-position: center;
  }
}
