.thirdSection {
  background-color: #F8F2EC;
  padding-top: 60px;
}

.thirdSection1 {
  width: 50%;
  background-color: #F8F2EC;
  align-items: center;
  padding: 20px 0;
  padding-top: 0;
  margin: 0 auto;
}

.thirdContainer {
  padding-top: 50px;
  align-items: center;
  width: 100%;
}


.thirdContainer {
  padding-top: 50px;
  align-items: center;
  width: 100%;
}
.thirdsectionDesc{
  text-align: center;
}

.bookingThirdButton{
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #CA9E72;
  color: #CA9E72;
}
.home-gallery .swiper-slide {
  transform: scale(0.7);
}

.home-gallery .swiper-slide-active {
  transform: scale(1);
  transition: 0.6s;
}

.home-gallery img {
  width: 100%;
}

.swiper-slide img {
  object-fit: cover;
  
}
.home-gallery .swiper-wrapper {
  align-items: center;
}

.home-gallery .swiper-slide-prev {
  transform: scale(0.7);
  transition: 0.5s;
}

.home-gallery .swiper-slide-next {
  transform: scale(0.7);
  transition: 0.5s;
  opacity: 0.5;
}
.home-gallery .swiper-slide-prev{
  opacity: 0.5;
}
.home-gallery .swiper-slide-duplicate-prev {
  transform: scale(0.7);
  transition: 0.6s;
  opacity: 0.5 !important;
}

/* .home-gallery .swiper-slide-duplicate {
  transform: scale(0.7);
  transition: 0.6s;
} */

.home-gallery .swiper-wrapper {
  align-items: center;
}

/* .swiper-slide{
    transform: scale(0.6);
    transition: .4s;
} */

.swiper {
  background-color: #ececdc;
}

.home-gallery .swiper-slide-prev {
  transform: scale(0.7);
  transition: 0.5s;
}

.home-gallery .swiper-slide-next {
  transform: scale(0.7);
  transition: 0.5s;
}

.home-gallery .swiper-slide-duplicate-prev {
  transform: scale(0.7);
}

.home-gallery .swiper {
  background-color: #ffffff00;
}

@media (max-width: 767px) {
  .swiper-slide img{
    height: 220px;
  }
  .thirdSection1{
    width: 100%;
  }
.thirdsectionDesc h2{
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
}
