.thirdSection{
    background-color: wheat;
    padding-top: 60px;
}

.thirdSection1 {
    width: 100%;
    background-color: wheat;
    align-items:center;
    padding: 50px 0;
    
 }

.thirdContainer {
    padding-top: 50px;
    align-items: center;
    width: 100%;
    
}

.thirdSectionBottom {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0;
}
.thirdSectionLeft {
    width: 50%;
}

.thirdSectionRight {
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    
}

.thirdSectionHeader {
    padding-left: 20%;
    font-size: 40px;
    margin: 0;
}

.thirdSectionParagraph {
    font-size: 18px;
}

.swiper-slide {
    transform: scale(0.7);
}

.swiper-slide-active{
    transform: scale(1.0);
    transition: .6s;
}

.swiper-wrapper{
    align-items: center;
}

/* .swiper-slide{
    transform: scale(0.6);
    transition: .4s;
} */

.swiper{
    background-color: wheat;
}

.swiper-slide-prev {
    transform: scale(0.7);
    transition: .5s;
}

.swiper-slide-next{
    transform: scale(0.7);
    transition: .5s;
}

.swiper-slide-duplicate-prev{
    transform: scale(0.7);
}