.tu-container{
    text-align: center;
   padding: 50px 25px;
    border: 1px solid #c3996c;
    margin: 200px auto;
    width: 500px;
    border-radius: 20px;
}
.tu-heading{

}
.tu-paragraph{

}
.tu-contact{

}
.tu-back{
    list-style: none;
}
@media(max-width:787px){
    .tu-container{
        margin: 50px auto;
        width: 80%;
    }
}