.fourthSection {
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.fourthSectionFliped {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.fourthSectionPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 80px;
    justify-content: space-between;
}
.fourthContainer {
    padding: 50px 0;
    align-items: center;
    width: 100%;
}

.gridBtn{
    border: 1px solid #CA9E72;
    color: #CA9E72;
    padding: 15px 20px;
    /* width: 150px; */
    font-size: 16px;
    background-color: transparent;
   
    width: auto;
}

.fourthSectionLeft {
    width: 60%;
}

.fourthSectionRight {
    width:40%;
    height: auto;
    /* background-color: white; */
  padding-left: 50px;
    
}
.fourthSectionHeader{
    font-size: 38px;
    font-weight: 300;
    margin: 0;

}
.fourthHeader h2 {
    padding-right: 40%;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 60px;
    text-align: left;
}
.fourthSectionParagraph {
    padding-right: 20%;
}

.fourthSectionTop {
    align-items: center;
}
.single-room-rec img{
    width: 100%;
    height: auto !important;
    object-fit: contain !important;
}
.fourthSection img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.recomendations h2{
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 0px;
    margin-top: 50px;
}
#recommendationParagraph{
    width: 55%;
    margin: 0;
}   
.roomRecomendations{
    display: flex;
    padding-top: 50px;
    width: 100%;
    justify-content: space-between;
}
.single-room-rec{
   
    width: 30%;
    box-shadow: 0 15px 12px rgb(0 0 0 / 8%);
    padding: 15px;
}
.single-room-rec h4
{
    font-size: 28px;
    margin: 0;
    font-weight: 500;
}
.single-room-rec p{
    color: #575757;
    margin-top: 0;
}
.price-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.price-book p{
    font-size: 28px;
    font-weight: 500;
    margin: 0;
}
.pernight{
    font-size: 21px;
    font-weight: 300;
}
.price-book button{
    background-color: #CA9E72;
    color: white;
    padding: 15px 0px;
    border: none;
    width: 150px;
    font-size: 14px;
}
.icon {
    display: flex;
    align-items: center;
    width: auto;
    margin: 5px 0px;
    background: #F8F2EC;
    padding: 0px 10px;
  }

  .icon-flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;
  }
  .bookOffer{
    background:linear-gradient(to right,#77522D ,#A3703D);
    display: flex;
    animation: unset;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
    color: white;
    margin-top: 50px;
  }
 .offerLeft{
     width: 70%;
 }
 .offerLeft h2{
     font-size: 35px;
     font-weight: 300;
 }
 .offerRight button{
    background-color: #F1E5DA;
    border: none;
    color: #A3703D;
    padding: 15px 20px;
 }
  .icon p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    height: 30px;
    display: flex;
    color: #8e652c;
    align-items: center;
    margin-left: 10px;
    margin: 0 !important;
    padding:  10px 0px;
    justify-content: space-evenly;
    width: 100%;
  }
  .icon-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .icon-info img {
    width: 30px;
    height: 30px;
  }
  .fourthSectionFliped .fourthSectionRight{
    padding-left: 0 !important;
    padding-right: 50px;
}
@media (max-width: 767px) {
    .fourthSection h2 {
        font-weight: 400;
        margin: 0;
        text-align: center;
        font-size: 22px;
        padding: 20px;
    }
    #recommendationParagraph {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .roomRecomendations{
        flex-direction: column;
    }
    .single-room-rec{
        width: auto;
        margin: 20px 10px;

    }
    .bookOffer {
     padding: 20px;
        flex-direction: column;
    }
    .fourthSection h2{
        padding: 0;
    }
    .offerLeft{
        width: 100%;
        text-align: center;
    }
    .fourthSectionPart{
        flex-direction: column;
    }.fourthSectionLeft{
        width: 100%;
    }
    .fourthSectionRight {
        width: 100%;
        height: auto;
        /* background-color: white; */
        padding-left: 0px;
        padding-top: 20px;
        text-align: center;
    }.fourthSectionFliped{
        flex-direction: column;
    }.fourthSectionFliped .fourthSectionRight{
        padding: 0;
        padding-top: 20px;
    }
    .fourthSection img {
      
        height: 300px;
     
    }
}
