.fourthSection {
    width: 100%;
    background-color: whitesmoke;
    align-items: center;
    margin: 0 auto;
}

.fourthSectionFliped {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 40px;
}

.fourthSectionPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 80px;
}
.fourthContainer {
    padding: 40px 0;
    align-items: center;
    width: 100%;
}

.fourthSectionLeft {
    width: 60%;
}

.fourthSectionRight {
    width: 25%;
    height: auto;
    background-color: white;
    padding: 4%;
    margin: 0 -5%;
}

.fourthSectionParagraph {
    padding-right: 20%;
}

.fourthSectionTop {
    align-items: center;
}

.fourthSection img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 767px) {
    .fourthHeader h2 {
        padding: 0;
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 30px;
        text-align: left;
    }

    .fourthSection img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .fourthSection h2 {
        font-weight: 400;
        margin: 0;
    }

    .fourthSectionPart {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }

    .fourthSectionParagraph {
        padding: 0;
    }

    .fourthSectionLeft {
        width: 100%;
    }

    .fourthSectionRight {
        width: 100%;
        height: auto;
        background-color: #ffffff00;
        margin: 0;
    }

    .fourthSectionFliped {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 40px;
    }
}
