.termsClass{
    padding: 100px 0px;
    width: 50%;
    margin: 0 auto ;
    text-align: center;
}
.termsClass h2{
    color: #CA9E72;
    font-size: 46px;
    text-align: center;
}
.termsClass h6{
 
    font-size: 22px;
}
.p-bold-t{
    font-size: 18px;
    font-weight: 600;
}
.p-normal-t{
    font-size: 16px;
    
}
@media(max-width:767px){
    .termsClass{
        padding: 50px 0px;
        width: 80%;
        margin: 0 auto ;
        text-align: center;
    }
}