.checkout{
    padding-top: 200px;
    text-align: center;
    margin: 0 auto;
    
}
.checkout h2{
    font-size: 28px;
    font-weight: 400;
}
.checkout-form
{
   /* padding-top: 50px; */
 
}
.form {
 width: 100% !important;
    
}
.inputs{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
}
.input-field{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
}
.input-field input{
    border-radius: 5px;
  
    text-indent: 10px;
    padding: 15px;
    border: 1px solid #CFCFCF;
}
.input-field label{
    margin: 10px 0px;
    font-weight: 500;
}
.checkout-btns{
    display: flex;
    flex-direction: column;
}
.form-button{
    width: 95%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    background: #3C55D9;
    color: white;
    margin-top: 40px;
    cursor: pointer;
    margin: 40px auto 0px auto;
}
.back-button{
    margin: 10px auto 0px auto;
    border: none;
    background: transparent;
    /* border-bottom: 1px solid black; */
  
}
.payment-single-choice{
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FCFCFC;
    margin: 10px 0px;
    display: flex;
    justify-content: flex-start;
}
.payment-p{
    font-size: 22px;
    margin: auto 0;
}
#checkout-singleroom-style{
    padding: 20px;
    background: #FCFCFC;
    border-radius: 20px;
    border: 1px solid #DFDFDF;
}
#checkout-roomdescinfo{
        border: none;
        background-color: #FCFCFC;
        padding: 0px 30px;
        padding-right: 0px;
}
@media(min-width:768px){
    .checkout{
        width: 1100px;
    }
}
@media(max-width:767px){
    .checkout{
        width: 90%;
        padding-top: 100px;
        margin: 0 5%;
       
    }
    .input-field{
        width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
     margin: 0px
}
.inputs{
    display: flex;
    /* grid-template-columns: repeat(2 ,1fr); */
    flex-direction: column;
    justify-content: center;
}
.input-field {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0px auto;
}
.back-button{
    margin-bottom: 50px;
}
.payment-single-choice {
    border: 1px solid black;
    border-radius: 8px;
    background-color: #FCFCFC;
    margin: 10px 0px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 10px auto;
}
/* .single-room {
    width: 90%;
    margin: 0 auto;
} */
}