.firstSection {
  display: flex;
  height: 85vh;
}
.leftSide {
  width: 70%;
}
.select-dates-home select {
  border: none !important;
  background: transparent !important;
  border-bottom: 1px solid #ca9e72 !important;
  color: #ca9e72 !important;
  width: 100px;
}
.leftContainer {
  padding: 150px 80px;
  padding-right: 25%;
}
.choosing-option label {
  color: #A07346;
  text-align: left;
  font-weight: 600;
}
#firstBtnChRooms{
  background-color: #ca9e72 !important;
  color: white;
}
/* .rightSide {
  display: contents;

} */
.rightSide .desktopVisibility{
  width: 100%;
  object-fit: cover;
}
@media (min-width:999px){
  .firstSection{
    height: auto;
    flex-direction: column;
  }
  .leftSide {
    width: 100%;
}
.leftContainer {
  padding: 100px 0px !important;
  padding-right: 0 !important;
  width: 100% !important;
  padding-bottom: 0 !important;
  text-align: center;
}
.rightSide {
  width: 100% !important;
  margin-top: -60px;
  /* z-index: 3 !important; */
}
.leftSide {
  width: 100%;
  z-index: 8;
}
.leftContainer p {
  font-size: 16px;
  width: 50%;
  margin: 10px auto;
}
.leftContainer button {

  margin-top: 20px;
}.bookingFirstBanner {
  display: flex;
  justify-content: space-between;
  background-color: #ead9c7;
  /* border: 1px solid #CA9E72; */
  padding: 50px;
  position: relative !important;
  margin-top: 50px;
  align-items: center;
  /* width: 65%; */
  /* margin-bottom: -50px; */
  z-index: 10000 !important;
}
}
@media only screen and (max-width: 998px) and (min-width: 768px) {
  .leftSide{
    width: 100%;
  }
#datepickerihome{
  display: none !important;
}
  .containerWrapper {
    width: 1200px;
  }
  .leftContainer {
    padding: 150px 50px;
    padding-right: 40%;
  }
}
.leftContainer h2 {
  font-size: 46px;
  font-weight: 400;
}
.leftContainer p {
  font-size: 16px;
}
.leftContainer button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #ca9e72;
  color: #ca9e72;
}


.choosing-option {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.choosing-option p {
  color: #a07346;
  font-weight: 600;
}
.choosing-option input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #ca9e72;
  color: #ca9e72;
}
.rightSide {
  width: 30%;
}
#pc {
  display: block;
}
#mobile {
  display: none;
}
@media(min-width:768px) and (max-width:998px){
  .firstSection{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .leftContainer{
    padding: 0px 50px;
    text-align: center;
    
  }
  .rightSide {
    width: 100% !important;
}
.rightSide img{
  width: 100%;
}
  .bookingFirstBanner {
    display: flex;
    justify-content: space-between;
    background-color: #ead9c7;
    /* border: 1px solid #CA9E72; */
    padding: 50px;
    position: relative;
    margin-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
}
.firstButtonRes{
  margin-top: 20px;
  width: 100% !important;
  text-align: center;
}
}
@media (max-width: 767px) {
  .mobileVisibility {
    display: block;
    width: 100% !important;
}
  .firstSection {
    height: auto;
  }
  .rightSide {
    height: 500px;
    width: auto;
  }
  .firstSection {
    flex-direction: column-reverse;
  }
  #pc {
    display: none;
  }
  #mobile {
    display: block;
    width: 100%;
  }

  .leftSide {
    width: 100%;
    text-align: center;
  }
  .leftContainer {
    padding: 10px;
  }
  .leftContainer h2 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
  .bookingFirstBanner {
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: #ead9c7;
    /* border: 1px solid #CA9E72; */
    padding: 0;
    padding-top: 30px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
    width: auto;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    height: 220px;
    grid-row-gap: 30px;
  }
  .choosing-option {
    padding: 0px 20px;
    display: block;
    width: 100px !important;
    text-align: left;
  }
  .choosing-option input {
    width: 100px !important;
  }
  .firstButtonRes {
    position: absolute;
    top: calc(100%-50px);
    top: calc(100% - 50px);
  }
  /* .bookingFirstBanner :nth-child(1){
  grid-area: 1 / 1 / 2 / 2;
}
.bookingFirstBanner :nth-child(2){
  grid-area: 1 / 2 / 2 / 3;
}
.bookingFirstBanner :nth-child(3){
  grid-area: 1 / 1 / 3 / 3;
}
.bookingFirstBanner :nth-child(4){
  grid-area: 1 / 2 / 3 / 3;
} */
  .leftContainer p {
    font-weight: 300;
  }
  .choosing-option p {
    color: #a07346;
    width: 100px;
    text-align: left;
    font-weight: 600;
  }

  .firstButtonRes {
    width: 100% !important;
  }
  .firstButtonRes button {
    background-color: #ca9e72;
    width: 100% !important;
    color: white;
    padding: 0 !important;
    height: 50px;
  }
}
