.hompage-first-section {
  width: 100%;
  height: 85vh;
}
.mySwiper {
  height: 100%;
  background-color: white;
}
.mySwiper img {
  width: 100%;
}

@media (max-width: 600px) {
  .hompage-first-section {
    height: 100%;
    padding-top: 150px;
  }
}
