@font-face {
    font-family: "Ogg";
    src: url("../../../Shared/Fonts/Ogg-Roman.otf") format("otf");
}

.intro{

}
.intro h2{
    text-align: center;
    font-family: "Ogg";
    font-weight: 400 !important;
    font-size: 36px;
}
.cp-home-intro {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
}
#landscapeImg{
    margin-top: 60px;
}
.cp-intro-left{
    display: flex;
    flex-direction: column;
}

.cp-intro-right{
    margin-left: 20px;
}
.cp-intro-right img{
    width: 100%;
    /* height: 450px; */
}
.minibanner{
    display: flex;
    padding-top: 50px;
}
.minibanner img{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.introBtn {
    border: 1px solid #CA9E72;
        color: #CA9E72;
        background-color: transparent;
}
.peja-intro-title{
  text-align: left !important;
    margin: 0;
}
#introwellness .cp-intro-left{
 width: 40%;
}
#introwellness .cp-home-intro{
    height: 650px;

}
#weddLandImg{
    height: 100%;
}
/* #weddingintrodiv{
    height: 650px;
} */
#weddingintrodiv .cp-intro-right img{
    height: 450px !important; 
}
#introwellness .cp-intro-left p{
    width: 400px;
    margin-bottom: 10px !important;
}
#introwellness .cp-intro-right{
    
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
    
}
#introwellness .cp-intro-right p{
    /* width: 400px; */
    margin: 0;
}



#introwellness .cp-intro-left img{
    height: 100%;
    /* width: 400px; */
    margin: 0;


}
#intropeja .cp-intro-left{
    width: 60%;
    margin-left: 30px;
}
#intropeja .cp-intro-right img{
/* margin: 0; */
height: 100%;
margin-top: 0;
}
#intropeja .cp-intro-left img{
    
    width: 100%;
    height: 450px;

}
.i-restaurant, .i-wellness, .i-peja{
    padding: 50px 0px;
}
.i-wellness{
    padding-top: 0;
}

.i-peja{
    padding-top: 0;
}
.i-restaurant{
    padding-top: 0;
}
.i-restaurant .cp-intro-right img{
    height: 600px;
}
.i-restaurant .cp-intro-right{
    width: 45%;
}
.i-restaurant .cp-intro-left{
    width: 50%;
}
#weddingintrodiv{
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 650px;
}
#weddingintrodiv .cp-intro-left {
    width: 40%;
}
#weddingintrodiv .cp-intro-right {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
@media (min-width: 768px) and (max-width: 998px) {
    .intro{
        padding: 0px 25px;
    }
    .i-restaurant, .i-wellness, .i-peja{
        padding:  0px;
    }
    .cp-home-intro {
       
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }
    .i-restaurant .cp-intro-left{
        width: auto;
    }
    .i-restaurant .cp-intro-right {
        width: auto;
        margin: 0;
        margin: 10px 0px;
    }
    .i-restaurant .cp-intro-right img {
        height: auto;
        width: 100% !important;
    }
    .minibanner {
        display: flex;
        padding-top: 25px;
    }
    .minibanner img {
        max-width: 100%;
        margin: 0 auto;
    }
    #introwellness .cp-intro-left {
        width: auto;
    }
    #introwellness .cp-intro-left img {
        height: 100%;
        width: 100%;
        margin: 0;
        order: 2;
    }
    #introwellness .cp-intro-left p {
        width: auto;
        margin-bottom: auto;
    }
    #introwellness .cp-intro-right {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }
    #introwellness .cp-intro-right p {
        width: auto;
        margin: 20px 0px;
    }
    .cp-intro-right {
        margin-left: 0;
    }
    #intropeja .cp-intro-right img {
        width: 100%;
        margin-top: 25px !important;
    }
  
    #intropeja .cp-intro-left {
        width: auto;
        margin-left: 0;
    }
    #intropeja .cp-intro-left img {
        width: 100%;
        height: auto;
    }
    #landscapeImg{
        margin-top: 25px;
    
    }
    .i-wellness .cp-intro-right img{
        margin-top: 20px;
    }
    #weddingintrodiv {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: auto;
    }
    #introwellness .cp-home-intro{
        height: auto;
    }
    #weddingintrodiv .cp-intro-left {
        width: 100%;
        margin-top: 20px;
    }
}
@media(max-width:767px){
    .intro img{
        object-fit: cover;
    }
    .intro h2{
        text-align: center;
        font-family: "Ogg";
        font-weight: 400 !important;
        font-size: 28px;
    }
    #wellnes-mainheading{
        margin-bottom: 0;
    }
    .i-restaurant, .i-wellness, .i-peja{
        padding:  0px;
    }
    .cp-home-intro {
       
        width: 100%;
        padding: 0px;
        flex-direction: column;
    }
    .i-restaurant .cp-intro-left{
        width: auto;
    }
    .i-restaurant .cp-intro-right {
        width: auto;
        margin: 0;
        margin: 10px 0px;
    }
    .i-restaurant .cp-intro-right img {
        height: auto;
        width: 100% !important;
    }
    .peja-intro-title{
       text-align: center !important;
        margin-top: 10px ;
        margin-bottom: 0;
    }
    .minibanner {
        display: flex;
        padding-top: 25px;
    }
    .minibanner img {
        max-width: 100%;
        margin: 0 auto;
    }
    #introwellness .cp-intro-left {
        width: auto;
    }
    #introwellness .cp-intro-left img {
        height: 100%;
        width: 100%;
        margin: 0;
        order: 2;
    }
    #introwellness .cp-intro-left p {
        width: auto;
        margin-bottom: auto;
    }
    #introwellness .cp-intro-right {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
    }
    #introwellness .cp-intro-right p {
        width: auto;
        margin: 20px 0px;
    }
    .cp-intro-right {
        margin-left: 0;
    }
    #intropeja .cp-intro-right img {
        width: 100%;
        margin-top: 25px !important;
    }
  
    #intropeja .cp-intro-left {
        width: auto;
        margin-left: 0;
    }
    #intropeja .cp-intro-left img {
        width: 100%;
        height: auto;
    }
    .i-peja .cp-home-intro{
        flex-direction: column-reverse;
    }
    #landscapeImg{
        margin-top: 25px;
    
    }
    #weddingintrodiv {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: auto;
    }
    .i-wellness .cp-intro-right img{
        margin-top: 20px;
    }
    #introwellness .cp-home-intro{
        height: auto;
    }
    #weddingintrodiv .cp-intro-right{
        width: 100%;
    }
    #weddingintrodiv .cp-intro-left {
        width: 100%;
        margin-top: 20px;
    }
}