.sixthSection {
  color: #3c3a34;
  padding-bottom: 40px;
}

.sixthHeader {
 
  justify-content: center;
  padding: 50px 0;
  text-align: center;
}

.sixthHeader h2 {

 
  font-weight: 400;
  font-size: 55px;
  text-align: center;
}
.sixthHeader p{
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400 !important;
}
.swiper{
  overflow:hidden !important;
}
.swiper-slide {
  background-color: whitesmoke;
  border-top: solid 3px darkgray;
}

.sswiper-pointer-events {
  background-color: white;
}
.sixthslidegallery .swiper-slide-active {
  /* transform: none; */
  opacity: 1 !important;
  transition: 0.6s;
}
.sixthslidegallery .swiper-slide{
  background-color: none;
  opacity: 0.2;
  /* width: 400px !important; */
}
.sixthContainer .swiper{
  padding-bottom: 40px;
}
.testimonialContainer {
  height: 400px;
  padding: 50px;
  text-align: center;
}
.testimonial{
  background: white;
    box-shadow: 0 15px 12px rgb(0 0 0 / 8%);
    border: 1px solid #D3AD88;
    border-radius: 5px;
}

.testimonial h2{
  
  color: #AB753F;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}
.testimonial p {
  font-size: 16px;
  margin: 0;
  padding: 20px 0;
  color: #636363;
}

.user p {
  font-size: 16px;
  padding: 0;
}
.user span {
  font-size: 20px;
}

.testimonial span {
  font-weight: 767px;
}

.swiper {
  background-color: #ffffff00;
  /* padding-bottom: 40px; */
}

.profilePic {
  /* width: 50px; */
}

.user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0;
  border-top: solid 1px darkgray;
}

.userName {
  padding-left: 15px;
}
.chill {
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .sixthHeader h2 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}
.sixthHeader p {
  width: auto;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px;
}
}
