.booking-main {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 15px 0;
}
.inputs-container input {
  margin-top: 10px;
}
.rooms-container {
  padding: 50px 0px;
}
.single-room-card {
  border: 2px solid black;
}
.single-room-card {
  display: flex;
}
.room-name {
  font-size: 30px;
}
.room-img-slider {
  width: 500px;
  height: 400px;
}
.room-img-slider img {
  width: 100%;
  height: 400px;
}
.swiper-slide {
  border-top: none !important;
}
.room-info-container {
  padding: 20px;
  background-color: white;
}
.room-desc-icons {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
}
.room-icon {
  width: 33.33%;
}
.room-icon img {
  width: 40px;
}
.room-price-and-more p {
  text-align: right;
}
.grey {
  color: grey;
  font-size: 18px;
}
.room-row-info {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.room-normal-text {
  text-align: right;
  font-size: 24px;
}
.offer {
  text-align: right;
}
.additional-heading {
  /* position: absolute;
  margin-top: -8px; */
  /* z-index: 45 !important; */
  /* background: #fcfaf3;
  padding: 20px;
  right: 200px; */
}
.single-room-card {
  margin: 50px 0px;
}
.view-offer {
  background: grey;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
}
.offer-images {
  display: flex;
  justify-content: space-between;
}
.offer-images img {
  width: 20%;
}
@media (max-width: 600px) {
  .rooms-container {
    padding: 50px 0px;
    width: 100%;
  }
  .single-room-card {
    flex-direction: column;
  }
  .room-img-slider {
    width: 100%;
    height: auto;
  }
  .room-img-slider img {
    width: 100%;
    height: auto;
  }
  .room-row-info {
    flex-direction: column;
  }
  .room-desc-icons {
    width: 100%;
  }
  .room-price-and-more p {
    text-align: left;
  }
}
