.rooms {
  padding-top: 200px;
}
.room-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.swiper{
  height: 100%;
}
.room-title {
  color: #8e652c;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.single-room {
  
  padding: 50px 0px;
}
.singleroom-flex{
  display: flex;
}
.room-img-gallery{
  width: 40%;
}
.main-room-infos{
  display: flex;
  justify-content: space-between;
}
.room-title{
  font-size: 28px;
 
  font-weight: 400;
  color: black;
}
#price{
  color: #1A9726;
  margin: 0;
  font-size: 22px;
  text-align: right;
}
#nights{
  font-size: 14px;
  margin: 0;
}
.room-short-desc{
  margin-top: 0;
}
#icon-rooms{
  display: flex;
  align-items: center;
  width: 28%;
  margin: 5px 0px;
  background: #F8F2EC;
  padding: 0px 10px;
}
.room-desc-info{
  width: 60%;
  DISPLAY: FLEX;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  /* padding-left: 50px; */
  border: 1px solid 
#D6D6D6;
background-color: #FCFCFC;
  border-left: 0;
}
.room-name-shortdesc{

}
.price-night{

}
hr {
  border: 1px solid #8e652c;
}
.single-room img {
  width: 100%;
  /* padding-bottom: 20px; */
}
.icon-rooms-page {
  display: flex;
  align-items: center;
  width: 33.33%;
}
.icon-rooms-page p {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  height: 30px;
  color: #8e652c;
  margin-left: 10px;
}
.icon-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icon-info img {
  width: 30px;
  height: 30px;
}
.room-buttons {
  display: flex;
}
.book-button button {
  background-color: #8e652c;
  padding: 20px 30px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.book-button button:hover {
  background-color: #623c0f;
  transition: all 0.3s ease-out;
}
.details-button {
  display: flex;
  align-items: center;
}
.details-button a {
  color: #8e652c;
  margin-left: 20px;
}
.swiper-button-prev::after {
  color: white;
}

.swiper-button-next::after {
  color: white;
}
@media (max-width: 767px) {
  .single-room {
    width: 100%;
  }
}
